{% extends "web/base.html" %}
{% block content %}
    <!-- Item Form -->
    <form method="post" action="{% url "items_add" %}" id="itemForm">
        {% csrf_token %}
        <!-- Name -->
        <div class="form-group">
            <label for="item_name">Name</label>
            <input type="text" class="form-control" id="item_name" placeholder="Potatoe" name="name">
        </div>
        <!-- Category -->
        <div class="form-group">
            <label for="item_category">Category</label>
            <input type="text" class="form-control" id="item_category" placeholder="Vegetable" name="category">
        </div>
        <!-- Location -->
        <div class="form-group">
            <label for="item_location">Location</label>
            <select class="form-control" id="item_location" name="location" form="itemForm">
                <option value=""></option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Season -->
        <div class="form-group">
            <label for="item_season">Example select</label>
            <select class="form-control" id="item_season" name="season" form="itemForm">
                <option></option>
                {% for season in seasons %}
                    <option value="{{ season.id }}">{{ season.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}