{% extends "web/base.html" %}
{% block content %}
    <form method="post" action="{% url "items_add" %}" id="itemForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="item_name">Name</label>
            <input type="text" class="form-control" id="item_name" placeholder="Potatoe" name="name">
        </div>
        <div class="form-group">
            <label for="item_category">Category</label>
            <input type="text" class="form-control" id="item_category" placeholder="Vegetable" name="category">
        </div>
        <div class="form-group">
            <label for="item_location">Location</label>
            <select class="form-control" id="item_location" name="location" form="itemForm">
                <option></option>
                {% for location in locations %}
                    <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="item_season">Example select</label>
            <select class="form-control" id="item_season" name="season" form="itemForm">
                <option></option>
                {% for season in seasons %}
                    <option value="{{ season }}">{{ season }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}