{% extends "base.html" %}
{% block content %}
    <form method="post" action="{% url "items_add" %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="item_name">Name</label>
            <input type="text" class="form-control" id="item_name" placeholder="Potatoe" name="name">
        </div>
        <div class="form-group">
            <label for="item_category">Category</label>
            <input type="text" class="form-control" id="item_category" placeholder="Vegetable" name="category">
        </div>
        <div class="form-group">
            <label for="item_location">Example select</label>
            <select class="form-control" id="item_location" name="location">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="item_season">Example select</label>
            <select class="form-control" id="item_season" name="season">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}