{% extends "web/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="card ">
            <div class="card-header">
                <div class="row">
                    <div class="col" style="flex-grow: 12">
                        <h1 class="mt-3 text-center" style="margin-left: 15%">LOCATION LIST</h1>
                    </div>
                    <div class="col">
                        <a href="{% url 'locations_add' %}" class="btn btn-primary mt-3">Create</a>
                    </div>
                </div>
                <input type="text" class="form-control" id="name" placeholder="Search" style=" width: 80%; margin: 0 10%">

            </div>
            <div class="card-body text-center">
                {% for location in locations %}
                    <div class="card mb-4 d-inline-block">
                        <div class="card-body bg-light">
                            <h5 class="card-title">
                                <a href="{% url 'location_detail' location.id %}">{{ location.name }}</a>
                            </h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        var locations = [];
        {% for location in locations %}
            locations.push("{{ location.name }}")
        {% endfor %}
        $(function () {
            $("#name").autocomplete({source: locations, minLength: 1});
        });
    </script>
{% endblock %}