{% extends "web/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="card ">
            <div class="card-header">
                <div class="row">
                    <div class="col" style="flex-grow: 12">
                        <h1 class="mt-3 text-center" style="margin-left: 15%">SCHEDULE LIST</h1>
                    </div>
                    <div class="col">
                        <a href="{% url 'schedules_add' %}" class="btn btn-primary mt-3">Create</a>
                    </div>
                </div>
                <input type="text" class="form-control" id="name" placeholder="Search" style=" width: 80%; margin: 0 10%">

            </div>
            <div class="card-body text-center" style=" width: 80%; margin: 0 10%">
                <table class="table text-center table-striped bg-light" >
                    <tr>
                        <th>Day Of Week</th>
                        <th>Hour</th>
                        <th>Season</th>
                        <th>Villager</th>
                        <th>Location</th>
                        <th>Detail</th>
                    </tr>
                    {% for schedule in schedules %}
                        <tr>
                            <td>{{ schedule.day_of_week }}</td>
                            <td>{{ schedule.hour }}</td>
                            <td>{{ schedule.season }}</td>
                            <td>{{ schedule.villager }}</td>
                            <td>{{ schedule.location }}</td>
                            <td><a href="{% url 'schedule_detail' schedule.id %}" class="btn btn-primary mt-3">Detail</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script>
        var schedules = [];
        {% for schedule in schedules %}
            schedules.push("{{ schedule.name }}")
        {% endfor %}
        $(function () {
            $("#name").autocomplete({source: schedules, minLength: 1});
        });
    </script>
{% endblock %}