{% extends "web/base.html" %}
{% block content %}
    <h1>SCHEDULE LIST</h1>
    <div class="w3-container w3-center">
        {% for schedule in schedules %}
            <div class="w3-light-gray w3-topbar w3-bottombar w3-leftbar and w3-rightbar w3-border-black w3-round-large w3-section">
                <div class="w3-xlarge">
                    {#                    <a href="{% url 'schedule_detail' schedule.id %}">{{ schedule.name }}</a>#}
                </div>
                <div class="w3-large">
                    <div>{{ schedule.name }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}