<nav class="navbar navbar-expand-lg navbar-transparent navbar-light bg-light shadow">
    <div class="container-fluid">
        <!-- Home/Logo -->
        <a class="navbar-brand" href="{% url "home" %}">Stardew Valley App</a>
        <button class="navbar-toggler mr-10" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Dropdown -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="margin-right: 370px"
                       aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "season_list" %}">Seasons</a></li>
                        <li><a class="dropdown-item" href="{% url "location_list" %}">Locations</a></li>
                        <li><a class="dropdown-item" href="{% url "item_list" %}">Items</a></li>
                        <li><a class="dropdown-item" href="{% url "villager_list" %}">Villagers</a></li>
                        <li><a class="dropdown-item" href="{% url "schedule_list" %}">Schedules</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
