<nav class="navbar navbar-expand-lg navbar-transparent navbar-light bg-light shadow">
    <div class="container-fluid">
        <!-- Home/Logo -->
        <a class="navbar-brand" href="{% url "home" %}">
            <img src="https://stardewvalleywiki.com/mediawiki/images/f/fd/Brown_Chicken.png" alt="Imagen 1" style="margin-right: 10px;">
            <img src="https://stardewvalleywiki.com/mediawiki/images/2/22/White_Chicken.png" alt="Imagen 2" style="margin-right: 10px;">
            <img src="https://stardewvalleywiki.com/mediawiki/images/6/61/Blue_Chicken.png" alt="Imagen 3" style="margin-right: 10px;">
            <span class="navbar-app-name">Stardew Valley App</span>
        </a>
        <button class="navbar-toggler mr-10" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Resto del código de la navbar -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown" style="margin-right: 30px">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "season_list" %}">Seasons</a></li>
                        <li><a class="dropdown-item" href="{% url "location_list" %}">Locations</a></li>
                        <li><a class="dropdown-item" href="{% url "item_list" %}">Items</a></li>
                        <li><a class="dropdown-item" href="{% url "villager_list" %}">Villagers</a></li>
                        <li><a class="dropdown-item" href="{% url "schedule_list" %}">Schedules</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav" style="margin-right: 30px">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "signup" %}">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="margin-right: 30px">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "login" %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
