{% extends "web/base.html" %}
{% block content %}
{% if user.is_superuser or user == villager.user %}
    <form method="post" action="{% url "item_detail" item.id %}" id="itemForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="item_name">Name</label>
            <input type="text" class="form-control" id="item_name" value="{{ item.name }}" name="name">
        </div>
        <div class="form-group">
            <label for="item_category">Category</label>
            <input type="text" class="form-control" id="item_category" value="{{ item.category }}" name="category">
        </div>
        <div class="form-group">
            <label for="item_location">Location</label>
            <select class="form-control" id="item_location" name="location" form="itemForm">
                <option value="{{ item.location }}"></option>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="item_season">Season</label>
            <select class="form-control" id="item_season" name="season" form="itemForm">
                <option value="{{ item.season }}"></option>
                {% for season in seasons %}
                    <option value="{{ season.id }}">{{ season.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% else %}
        {% csrf_token %}
        <div class="form-group">
            <label for="item_name">Name</label>
            <div type="text" class="form-control">{{ item.name }}</div>
        <div class="form-group">
            <label for="item_category">Category</label>
            <div type="text" class="form-control">{{ item.category }}</div>
        <div class="form-group">
            <label for="item_location">Location</label>
            <div class="form-control">{{ item.location }}</div>
        </div>
        <div class="form-group">
            <label for="item_season">Season</label>
            <div class="form-control">{{ item.season }}</div>
        </div>
{% endif %}
{% endblock %}